<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">


<dom-module id="nl-quip">
<template>
  <style>
    :host {
      display: block;

      --paper-card-header-image: {
        height: 100px;
        width: 100%;
      };
    }

    paper-material {
      background: #fff;
    }

    paper-button {
      margin-left: -0.7em;
    }

    .nl-logo {
      background: #1CBBF1;
      text-align: center;
    }

    .description {
      padding: 16px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 1.1em;
    }
  </style>

  <a href="https://wearenorthern.com/consulting/polymer/?utm_source=polygigs&utm_medium=sidebar" title="Visit the Northern Logic website" target="_blank">
    <paper-material>
      <div class="nl-logo">
        <img height="125" src="src/components/nl-quip/nl-logo.png" srcset="src/components/nl-quip/nl-logo@2x.png 360w, src/components/nl-quip/nl-logo.png 180w">
      </div>
      <div class="description">
        <h3>Work with some of the best.</h3>
        <p>Our developers have worked with Google to develop Polymer applications.</p>

        <paper-button >Visit Northern Logic</paper-button>
      </div>
    </paper-material>
  </a>

</template>

<script>
  Polymer({
    is: 'nl-quip'
  });
</script>
</dom-module>
