<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/paper-material/paper-material.html">


<dom-module id="nl-quip">
<template>
  <style>
    :host {
      display: block;

      --paper-card-header-image: {
        height: 100px;
        width: 100%;
      };
    }

    .nl-logo {
      background: #1CBBF1;
      text-align: center;
    }

    .description {
      padding: 16px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 1.1em;
    }
  </style>

  <a href="https://wearenorthern.com" title="Visit the Northern Logic website" target="_blank">
  <paper-material>
    <div class="nl-logo">
      <img height="125" src="src/components/nl-quip/nl-logo.png" srcset="src/components/nl-quip/nl-logo@2x.png 360w, src/components/nl-quip/nl-logo.png 180w">
    </div>
    <div class="description">
      <h3>Need Polymer Developers?</h3>
      <p>Our team includes developers who learned Polymer by building apps at Google.</p>
    </div>
  </paper-material>
  </a>

</template>

<script>
  Polymer({
    is: 'nl-quip'
  });
</script>
</dom-module>
