<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="meta-description">
<script>
  Polymer({
    is: 'meta-description',

    properties: {
      description: {
        type: String,
        observer: '_updateMetaDescription',
      },
    },

    _updateMetaDescription: function(description) {
      var descriptionTag = document.head.querySelector('meta[name="description"]');

      if (!descriptionTag) {
        descriptionTag = document.createElement('meta');
        document.head.appendChild(descriptionTag);
      }

      descriptionTag.content = description;
    }
  });
</script>
</dom-module>